*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)),
    url(img/travel.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
nav{
    width: 100%;
    height: 100px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-size: 3em;
    letter-spacing: 2px;
}
.logo img{
   width: 100px; 
   position: relative;
   left: -50px;
   top: 10px;
   border-radius: 100px;
}
.menu a{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    position: relative;
}
.menu a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid indianred;
    transition: 0.4s linear;
}
.menu a:hover:before{
    width: 90%;
}
.register a{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    background: indianred;
    border-radius: 8px;
    transition: 0.4s;
}
.register a:hover{
    background: transparent;
    border: 1px solid indianred;
}
.h-txt{
    max-width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
}
.h-txt h1{
    font-size: 3.5em;
}
.h-txt a{
    text-decoration: none;
    background: indianred;
    color: #fff;
    padding: 10px 20px;
    letter-spacing: 5px;
    transition: 0.4s;
}
.h-txt a:hover{
    background: transparent;
    border: 1px solid indianred;
}